USE [master]
GO
/****** Object:  Database [Disney]    Script Date: 19/5/2023 10:42:21 ******/
CREATE DATABASE [Disney]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Disney', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Disney.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Disney_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Disney_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Disney].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Disney]
GO
/****** Object:  User [Disney]    Script Date: 19/5/2023 10:42:21 ******/
CREATE USER [Disney] FOR LOGIN [Disney] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [alumno]    Script Date: 19/5/2023 10:42:21 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Disney]
GO
/****** Object:  Table [dbo].[Peliserie]    Script Date: 19/5/2023 10:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peliserie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Imagen] [varchar](999) NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[Fecha_Creacion] [date] NOT NULL,
	[Calificacion] [float] NOT NULL,
 CONSTRAINT [PK_Peliserie] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personaje]    Script Date: 19/5/2023 10:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personaje](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Imagen] [varchar](4000) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Edad] [int] NOT NULL,
	[Peso] [float] NOT NULL,
	[Historia] [varchar](4000) NOT NULL,
	[Id_Peliserie] [int] NOT NULL,
 CONSTRAINT [PK_Personaje] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Peliserie] ON 

INSERT [dbo].[Peliserie] ([Id], [Imagen], [Titulo], [Fecha_Creacion], [Calificacion]) VALUES (1, N'https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Toy_Story.svg/220px-Toy_Story.svg.png', N'Toy story', CAST(N'1995-11-22' AS Date), 5)
INSERT [dbo].[Peliserie] ([Id], [Imagen], [Titulo], [Fecha_Creacion], [Calificacion]) VALUES (2, N'https://lumiere-a.akamaihd.net/v1/images/image_8b5ca578.jpeg', N'El rey leon', CAST(N'1994-07-07' AS Date), 4.5)
INSERT [dbo].[Peliserie] ([Id], [Imagen], [Titulo], [Fecha_Creacion], [Calificacion]) VALUES (3, N'https://cloudfront-us-east-1.images.arcpublishing.com/infobae/BCWNAG4MNRBSLHAM7COBNDWIJM.jpg', N'Monsters Inc', CAST(N'2001-11-02' AS Date), 4)
SET IDENTITY_INSERT [dbo].[Peliserie] OFF
GO
SET IDENTITY_INSERT [dbo].[Personaje] ON 

INSERT [dbo].[Personaje] ([Id], [Imagen], [Nombre], [Edad], [Peso], [Historia], [Id_Peliserie]) VALUES (4, N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZFMER8wfxHa06apLyhDie1sS7xmmme4kTbQ&usqp=CAU', N'Woody', 70, 1, N'Es hincha de boca, le gusta jugar al futbol en el barrio con los pibes. Nacio en la pobreza y ahora se convirtio en un millonario. La fama lo convirtio en un drogadicto.', 1)
INSERT [dbo].[Personaje] ([Id], [Imagen], [Nombre], [Edad], [Peso], [Historia], [Id_Peliserie]) VALUES (8, N'https://static.wikia.nocookie.net/doblaje/images/2/2b/-Buzz-.png/revision/latest?cb=20180322164706&path-prefix=es', N'Buzz Lightyear', 70, 2, N'Este es un pibe que vino del espacio para comerse una hamburguesa porque le dijeron que era muy rica. Nunca pudo comer una, no tiene plata para pagarla.', 1)
INSERT [dbo].[Personaje] ([Id], [Imagen], [Nombre], [Edad], [Peso], [Historia], [Id_Peliserie]) VALUES (9, N'https://upload.wikimedia.org/wikipedia/en/9/94/Simba_%28_Disney_character_-_adult%29.png', N'Simba', 25, 90, N'La tipica historia del nene mimado que de la nada lo pierde todo y tiene que luchar por su reino. Jakuna matata, una forma de ser.', 2)
SET IDENTITY_INSERT [dbo].[Personaje] OFF
GO
ALTER TABLE [dbo].[Personaje]  WITH CHECK ADD  CONSTRAINT [FK_Personaje_Peliserie] FOREIGN KEY([Id_Peliserie])
REFERENCES [dbo].[Peliserie] ([Id])
GO
ALTER TABLE [dbo].[Personaje] CHECK CONSTRAINT [FK_Personaje_Peliserie]
GO
/****** Object:  StoredProcedure [dbo].[deletePeliserie]    Script Date: 19/5/2023 10:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[deletePeliserie]
	@Id int
AS
BEGIN
	DELETE FROM Personaje WHERE Id_Peliserie = @Id
	DELETE FROM Peliserie WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[deletePersonaje]    Script Date: 19/5/2023 10:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[deletePersonaje]
	@Id int
AS
BEGIN
	DELETE FROM Personaje WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[getPeliserieAsc]    Script Date: 19/5/2023 10:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getPeliserieAsc]
AS
BEGIN
	SELECT * FROM Peliserie ORDER BY Id ASC
END
GO
/****** Object:  StoredProcedure [dbo].[getPeliserieById]    Script Date: 19/5/2023 10:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getPeliserieById]
	@Id int
AS
BEGIN
	SELECT * FROM Peliserie WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[getPeliserieByName]    Script Date: 19/5/2023 10:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getPeliserieByName]
	@Titulo varchar(50)
AS
BEGIN
	SELECT * FROM Peliserie WHERE Titulo = @Titulo
END
GO
/****** Object:  StoredProcedure [dbo].[getPeliserieDesc]    Script Date: 19/5/2023 10:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getPeliserieDesc]
AS
BEGIN
	SELECT * FROM Peliserie ORDER BY Id DESC
END
GO
/****** Object:  StoredProcedure [dbo].[getPeliseries]    Script Date: 19/5/2023 10:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getPeliseries]
AS
BEGIN
	SELECT * FROM Peliserie
END
GO
/****** Object:  StoredProcedure [dbo].[getPersonajeByAge]    Script Date: 19/5/2023 10:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getPersonajeByAge]
	@Edad int
AS
BEGIN
	SELECT * FROM Personaje WHERE Edad = @Edad
END
GO
/****** Object:  StoredProcedure [dbo].[getPersonajeById]    Script Date: 19/5/2023 10:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getPersonajeById]
	@Id int
AS
BEGIN
	SELECT * FROM Personaje WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[getPersonajeByMovie]    Script Date: 19/5/2023 10:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getPersonajeByMovie]
	@Id_Peliserie int
AS
BEGIN
	SELECT * FROM Personaje WHERE Id_Peliserie = @Id_Peliserie
END
GO
/****** Object:  StoredProcedure [dbo].[getPersonajeByName]    Script Date: 19/5/2023 10:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getPersonajeByName]
	@Nombre varchar(50)
AS
BEGIN
	SELECT * FROM Personaje WHERE Nombre = @Nombre
END
GO
/****** Object:  StoredProcedure [dbo].[getPersonajes]    Script Date: 19/5/2023 10:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getPersonajes]
AS
BEGIN
	SELECT * FROM Personaje
END
GO
/****** Object:  StoredProcedure [dbo].[postPeliserie]    Script Date: 19/5/2023 10:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[postPeliserie]
	@Imagen varchar(999),
	@Titulo varchar(50),
	@Fecha_Creacion date,
	@Calificacion float
AS
BEGIN
	INSERT INTO Peliserie VALUES (@Imagen,
	@Titulo,
	@Fecha_Creacion,
	@Calificacion)
END
GO
/****** Object:  StoredProcedure [dbo].[postPersonaje]    Script Date: 19/5/2023 10:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[postPersonaje]
	@Imagen varchar(4000),
	@Nombre varchar(50),
	@Edad int,
	@Peso float,
	@Historia varchar(4000),
	@Id_Peliserie int
AS
BEGIN
	INSERT INTO Personaje VALUES (@Imagen,
	@Nombre,
	@Edad,
	@Peso,
	@Historia,
	@Id_Peliserie)
END
GO
/****** Object:  StoredProcedure [dbo].[putPeliserie]    Script Date: 19/5/2023 10:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[putPeliserie]
	@Id int,
	@Calificacion float
AS
BEGIN
	UPDATE Peliserie SET Calificacion = @Calificacion WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[putPersonaje]    Script Date: 19/5/2023 10:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[putPersonaje]
	@Id int,
	@Edad int,
	@Peso float,
	@Historia varchar(4000)
AS
BEGIN
	UPDATE Personaje SET Edad = @Edad, Peso = @Peso, Historia = @Historia WHERE Id = @Id
END
GO
USE [master]
GO
